<app-card>
  <form [formGroup]="AddUserForm" (ngSubmit)="onSubmit()" class="m-4">
    <label class="font-bold text-lg block" for="fullname">Fullname :</label>
    <input
      type="text"
      name="fullname"
      id="fullname"
      class="my-2 p-2 w-full border-2 border-black rounded-md text-xl"
      formControlName="fullname"
      required
      #fullnameInput
    />
    <span
      *ngIf="
        !AddUserForm.get('fullname')?.valid &&
        AddUserForm.get('fullname')?.touched
      "
      ErrorMessage
      >Please enter valid fullname*</span
    >

    <label class="font-bold text-lg block" for="fullname">Email :</label>
    <input
      type="text"
      name="email"
      id="email"
      class="my-2 p-2 w-full border-2 border-black rounded-md text-xl"
      formControlName="email"
      required
      #emailInput
    />
    <span
      *ngIf="
        !AddUserForm.get('email')?.valid && AddUserForm.get('email')?.touched
      "
      ErrorMessage
      >Please enter valid email*</span
    >

    <label class="font-bold text-lg block" for="fullname"
      >ProfileImage Url :</label
    >
    <input
      type="text"
      name="imageUrl"
      id="imageUrl"
      class="my-2 p-2 w-full border-2 border-black rounded-md text-xl"
      formControlName="imageUrl"
      #imageUrlInput
    />

    <div class="flex justify-end items-center space-x-4 mt-2">
      <button
        class="px-6 py-3 rounded-md bg-slate-700 text-white hover:bg-slate-900 disabled:bg-slate-300 disabled:text-black disabled:cursor-not-allowed disabled:font-bold"
        [disabled]="!AddUserForm.valid"
      >
        {{ editUserData ? "Update" : "Add" }}
      </button>
      <button
        class="p-3 rounded-md bg-slate-700 text-white hover:bg-slate-900"
        (click)="close()"
      >
        Cancel
      </button>
    </div>
  </form>
</app-card>
