<section
  id="AllSelector"
  class="h-16 bg-gray-400 text-black font-bold flex justify-end pr-4"
  *ngIf="usersList.length > 0"
>
  <button
    class="p-3 rounded-md bg-slate-700 text-white hover:bg-slate-900 disabled:bg-slate-300 disabled:text-black disabled:cursor-not-allowed"
    (click)="onMultipleDelete()"
  >
    Delete Selected
  </button>

  <span class="text-lg">Select All :</span>
  <input
    type="checkbox"
    [(ngModel)]="SelectAll"
    (change)="onSelectContact($event)"
    [value]="-1"
  />
</section>

<ul class="p-4 grid grid-cols-4">
  <li *ngFor="let user of usersList">
    <section
      class="flex w-[90%] bg-gray-200 rounded-2xl relative h-52"
      id="{{ user.id }}"
    >
      <!-- <input
        type="checkbox"
        [(ngModel)]="isChecked"
        (change)="checkValue(isChecked ? user.id : null)"
      /> -->
      <input
        type="checkbox"
        [checked]="user.isSelected"
        (change)="onSelectContact($event)"
        [value]="user.id"
      />
      <div class="rounded-2xl overflow-hidden">
        <img src="{{ user.imageUrl }}" class="w-full h-full object-cover" />
      </div>
      <div class="py-2 px-4">
        <h1 class="font-bold text-2xl">{{ user.fullname }}</h1>
        <h3 class="text-lg mt-4">{{ user.email }}</h3>
        <div class="buttons mt-4 absolute bottom-4 right-4">
          <button
            class="p-3 rounded-md bg-slate-700 text-white hover:bg-slate-900 disabled:bg-slate-300 disabled:text-black disabled:cursor-not-allowed"
            (click)="onEdit(user)"
          >
            Edit
          </button>
          <button
            class="p-3 rounded-md bg-slate-700 text-white hover:bg-slate-900 disabled:bg-slate-300 disabled:text-black disabled:cursor-not-allowed"
            (click)="onDelete(user.id)"
          >
            Delete!
          </button>
        </div>
      </div>
    </section>
  </li>
</ul>
