<section
  id="AllSelector"
  class="text-black font-bold flex items-center p-4"
  *ngIf="usersList.length > 0"
>
  <span class="mr-4 text-xl">Select All :</span>

  <input
    type="checkbox"
    class="h-5 w-5"
    [(ngModel)]="SelectAll"
    (change)="onSelectContact($event)"
    [value]="-1"
  />
  <button
    class="p-2 rounded-md bg-slate-700 text-white hover:bg-slate-900 disabled:bg-slate-300 disabled:text-black disabled:cursor-not-allowed absolute right-4"
    (click)="onMultipleDelete()"
    [disabled]="numberOfUserSelected <= 0"
  >
    Delete Selected
  </button>
</section>

<ul class="px-4 flex flex-wrap gap-5">
  <li
    *ngFor="let user of usersList"
    class="w-full max-w-[25rem] rounded-md shadow-md shadow-gray-500 cursor-pointer hover:-translate-y-2 hover:shadow-lg transition-all bg-slate-200"
  >
    <!-- <input
        type="checkbox"
        [(ngModel)]="isChecked"
        (change)="checkValue(isChecked ? user.id : null)"
      /> -->
    <!--  -->
    <!-- <div class="overflow-hidden h-52"> -->
    <!-- <img
          src="{{ user.imageUrl }}"
          class="w-full h-full object-cover rounded-tl-md rounded-bl-md sm:hidden"
        /> -->
    <!-- </div> -->

    <section class="p-4">
      <div class="heading flex justify-between items-center">
        <h1 class="font-bold text-xl">{{ user.fullname }}</h1>
        <input
          class="ml-4 w-5 h-5"
          type="checkbox"
          [checked]="user.isSelected"
          (change)="onSelectContact($event)"
          [value]="user.id"
        />
      </div>

      <h1 class="text-lg mt-2">{{ user.email }}</h1>

      <h3 class="text-lg mt-2">7977166580</h3>

      <h3 class="text-lg mt-2">7977166580</h3>
    </section>

    <div class="buttons flex justify-end p-4">
      <button
        class="py-2 px-4 rounded-md bg-slate-700 text-white hover:bg-slate-900 disabled:bg-slate-300 disabled:text-black disabled:cursor-not-allowed mr-3"
        (click)="onEdit(user)"
        [disabled]="numberOfUserSelected > 0"
      >
        Edit
      </button>
      <button
        class="p-2 rounded-md bg-slate-700 text-white hover:bg-slate-900 disabled:bg-slate-300 disabled:text-black disabled:cursor-not-allowed"
        (click)="onDelete(user.id)"
        [disabled]="numberOfUserSelected > 0"
      >
        Delete!
      </button>
    </div>
  </li>
</ul>
